.container{
    /* width: 100px; */
    /* height: 200px; */
    background-color: #f5f5f5;
    display: flex;
}
.fristChild{
    width: 35%;
    height: 100vh;
    background-color: black;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondChild{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}
.signContainer{
   width: 350px;
   height: 450px;
   /* border: 2px solid black; */
   text-align: left;
}
.signContainer>:nth-child(1)>h1{
    margin-bottom: -12px;
}
.signContainer>:nth-child(2){
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.signContainer>:nth-child(2)>div{
    height: 15px;
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 8px;
    padding: 4px;
    background: white;
    font-size: 14px;
}
.signInputs{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
}
.signInputs>label{
    margin-top: 14px;
}
.signInputs>input{
    background-color: #f5f5f5;
    border: none;
    height: 38px;
    border-radius: 12px;
    margin-top: 6px;

}
.signInputs>button{
    height: 40px;
    border-radius: 12px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.registerDiv{
    display: flex;
    justify-content: center;
}